body{
background-image:url("../images/红色油画背景白.png");
 background-size:100% 100%;
}
.hcs{
width:80%;

margin:0 auto;

border: 0;

height: 0;

border-top: 1px solid rgba(0, 0, 0, 0.1);

border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}
ul,li{list-style:none;}
a{
text-decoration:none;
}
.box{
width:380px;
margin:30px auto;
}
.box{

        width: 380px;

        margin: 30px auto;

        font-family: 'Microsoft YaHei';

        font-size: 14px;

    }

    .sou{

        width: 260px;

        border: 1px solid #e2e2e2;

        height: 50px;

        float: left;

        

        background-repeat: no-repeat;

        background-size: 25px;

        background-position:5px center;

        padding:0 0 0 40px;

    }

 
 
  .search {    width: 300px;    
  height: 40px;    border-radius: 18px;    outline: none;    border: 1px solid #ccc;    padding-left: 20px;    position: absolute;}
  
.font1{
font-size:60px;
text-shadow:5px 5px 5px black;
color:blue;
}